<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Nika</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <div>
            {{form.login.label}}
            {{form.login}}
        </div>
        <div>
            {{form.password.label}}
            {{form.password}}
        </div>
        <div class="col-12">
            {{form.submit}}
        </div>
    </form>
</body>
</html>