{% extends "base.html" %}

{% block content %}
<script type='text/javascript'>
    $(document).ready(function () {

        // Show Input element
        $('.edit').click(function () {
            $('.txtedit').hide();
            $(this).next('.txtedit').show().focus();
            $(this).hide();
        });

        // Save data
        $(".txtedit").focusout(function () {

            // Get edit id, field name and value
            var id = this.id;
            var split_id = id.split("_");
            var field_name = split_id[0];
            var edit_id = split_id[1];
            var value = $(this).val();

            // Hide Input element
            $(this).hide();

            // Hide and Change Text of the container with input elmeent
            $(this).prev('.edit').show();
            $(this).prev('.edit').text(value);

            $.ajax({
                url: '/updatedb',
                type: 'post',
                data: { field: field_name, value: value, id: edit_id },
                success: function (response) {
                    if (response == 1) {
                        console.log('Save successfully');
                    } else {
                        console.log("Not saved.");
                    }
                }
            });

        });

    });

    function deleteData(btn) {

        var row = btn.parentNode.parentNode;
        row.parentNode.removeChild(row);

        $.ajax({
            url: '/updatedb',
            type: 'post',
            data: { delete: true, id: btn.id },
            success: function (response) {
                if (response == 1) {
                    console.log('Save successfully');
                } else {
                    console.log("Not saved.");
                }
            }
        });
    }

</script>
<div class="container">
    <div class="row" style="padding:50px;">
        <p>
        <h1>Live Editable Table using Python Flask Mysql and Jquery Ajax</h1>
        </p>
        <table width='100%' border='0'>
            <tr>
                <th width='10%'>ID</th>
                <th width='10%'>Temp</th>
                <th width='10%'>Humidity</th>
                <th width='10%'>Smoke</th>
                <th width='10%'>CO2</th>
                <th width='20%'>Time</th>
                <th width='5%'>Delete</th>
            </tr>
            {% for row in data %}
            <tr>
                <td>{{row.id}}</td>
                <td>
                    <div class='edit'> {{row.temp}} </div>
                    <input type='text' class='txtedit' value='{{row.temp}}' id='temp_{{row.id}}'>
                </td>
                <td>
                    <div class='edit'> {{row.humidity}} </div>
                    <input type='text' class='txtedit' value='{{row.humidity}}' id='humidity_{{row.id}}'>
                </td>
                <td>
                    <div class='edit'> {{row.smoke}} </div>
                    <input type='text' class='txtedit' value='{{row.smoke}}' id='smoke_{{row.id}}'>
                </td>
                <td>
                    <div class='edit'> {{row.co}} </div>
                    <input type='text' class='txtedit' value='{{row.co}}' id='co_{{row.id}}'>
                </td>
                <td>
                    <div> {{row.time}} </div>
                </td>
                <td>
                    <button id='{{row.id}}' type="button" onclick=deleteData(this)
                        class="btn btn-danger">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<style>
    .edit {
        width: 100%;
        height: 25px;
    }

    .editMode {
        border: 1px solid black;
    }

    table {
        border: 3px solid lavender;
        border-radius: 3px;
    }

    table tr:nth-child(1) {
        background-color: #4285f4;
    }

    table tr:nth-child(1) th {
        color: white;
        padding: 10px 0px;
        letter-spacing: 1px;
    }

    table td {
        padding: 10px;
    }

    table tr:nth-child(even) {
        background-color: lavender;
        color: black;
    }

    .txtedit {
        display: none;
        width: 99%;
        height: 30px;
    }
</style>
{% endblock %}